
BODY
    {background-color: green;
}

DIV
     {background-color: yellow;
	 }
	 
	 
DIV2
     {background-color: orange;
	 }
	 
	 A {color: white;
	 }
	 A {background-color: black;
	 }
	